<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<section th:replace="~{fragments/navbar}"></section>
<div class="container">
    <h1 class="text-center text-dark">Admin Contract Panel</h1>
</div>
<div class="container">
    <table class="table table-bordered mt-2">
        <thead class="table-success">
        <tr>
            <th scope="col">ContractId</th>
            <th scope="col">ContractLength</th>
            <th scope="col">MoveInDate</th>
            <th scope="col">MoveOutDate</th>
            <th scope="col">ApartmentId</th>
            <th scope="col">TenantId</th>
            <th scope="col">RentPerMonth</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${#lists.size(contracts) > 0}">
            <tr th:each="contract : ${contracts}">
                <td th:text="${contract.getId()}"></td>
                <td th:text="${contract.getLength()}"></td>
                <td th:text="${contract.getMoveInDate()}"></td>
                <td th:text="${contract.getMoveOutDate()}"></td>
                <td th:text="${contract.getApartment().getId}"></td>
                <td th:text="${contract.getTenant().getId()}"></td>
                <td th:text="${contract.getRentPerMonth()}"></td>
<!--                <td>-->
<!--                    <th:block th:if="${offer.getApartment.isBooked() || offer.getApartment.isRented()}">-->
<!--                        <p>Cant remove. Apartment <br> in this offer is booked for a viewing!</p>-->
<!--                    </th:block>-->
<!--                    <th:block th:unless="${offer.getApartment.isBooked() || offer.getApartment.isRented()}">-->
<!--                        <a th:href="@{/offers/admin/remove/offer/{offerId}(offerId=${offer.getId()})}" class="btn btn-primary">Delete</a>-->
<!--                    </th:block>-->
<!--                </td>-->
            </tr>
        </th:block>

        </tbody>
    </table>
</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>